jumbotron {
    margin-bottom: 4em;
    background: #F2F2F2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

jumbotron, p, h2 {
    color: #705432 !important;
}

.person-wrapper {
    margin-bottom: 2em;
}

.profile-pic{
    width: 50%;
}

.btn-primary{
    background-image: none;
    border: none;
    border-radius: .25rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #705432;
}

.btn-primary:hover{
    background-color: rgba(71, 46, 17, 0.44);
}

h3{
    margin-bottom: 1em;
}

