.header-image {
    width: 100%;
    margin-top: -2em;
    margin-bottom: 2em;
}

.about-profile-pic {
    float: left;
    margin: 0 1em 1em 0;
}

.btn-primary{
    background-image: none;
    border: none;
    border-radius: .25rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #705432;
}

.btn-primary:hover{
    background-color: rgba(71, 46, 17, 0.44);
    border-color: rgba(71, 46, 17, 0.44);
}

.btn-primary:focus{
    background-color: #705432 !important;
    box-shadow: none !important;
}